.breadcrumb {
	text-align: left;
	margin-top: 25px;
	margin-left: 45px;
}

.container{
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: center;
}

.input-container{
	width: 400px;
}

.input{
	display: flex;
	justify-content: space-between;
	line-height: 35px;
}

.special{
	display: flex;
	justify-content: flex-end;
}

.button1{
	height: 30px;
	background-color: red;
}
.button2{
	background-color: orange;
}

