.breadcrumb p{
	color: orange;
	float : left;
}

button {
  background-color: #ca4e3d;
  color: #FFFFFF;
  padding: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: 0px;
  margin-top: 200px;
  


}

div .content {
	
	background-repeat: no-repeat;

}