.breadcrumb {
	text-align: left;
	margin-top: 25px;
	margin-left: 45px;
}


div.content{
	display: grid;
	grid-template-columns: 4fr 4fr;
	background-image: url("Diospada.jpg");
}

button{
	height: 35%;
	width: 70%;
	padding: 25px 10px;
	margin: 80px 10px;
}
.button1{
	font-size: 20px;
	background-color: orange;
}

.button2{
	font-size: 20px;
	background-color: white;
}

.content{
	display: grid;
	grid-template-columns: 4fr 4fr;
	background-color: gray;
}

